<header>
    <a href="/"><div class="logo animated fadeInUp">Maxwell Stern</a></div>
</header>


<h1><a href="mailto:stern.maxwell@gmail.com">Email</a></h1>
<h1><a href="https://www.linkedin.com/in/maxwellstern">LinkedIn</a></h1>
<h1><a href="https://github.com/sternmd">Github</a></h1>
