<div id="body">
<a id="contact" style="position: absolute; bottom: 0px; left:0;"></a>

  <header>
      <a href="#top"><div class="logo animated fadeInUp">Maxwell Stern</a></div>

    <ul class="navi_fade">
      <li class="animated fadeInUp"><a href="#work">Work</a></li>
      <li class="animated fadeInUp"><a href="#about">About</a></li>
      <li class="animated fadeInUp"><a href="#contact">Contact</a></li>
    </ul>
  </header>

  <div class="main">
     <div class="work_link animated fadeInUp">
     	<a class="scroll" href="#work">Work</a>
     </div>

     <div class="about_link animated fadeInUp">
     	<a class="scroll" href="#about">About</a>
     </div>

     <div class="contact_link animated fadeInUp">
     	<a class="scroll" href="#contact">Contact</a>
     </div>
  </div><!--main-->
</div>

  <div class="about animated fadeInUp" id="about">
        <div class="black">

        Web Developer / Designer / Artist</div>
 </div>

 <div class="teaser_container" id="work">
    <div class="teaser_item wow fadeInUp"><a href="work/soundwipe-music-app.html" class="fadeOutLink"><img src="images/portfolio_soundwipe.jpg"></a></div>
    <div class="teaser_item wow fadeInUp"><a href="work/sixt-radio-spots.html" class="fadeOutLink"><img src="images/portfolio_sixt.jpg"></a></div>
    <div class="teaser_item wow fadeInUp"><a href="work/depot-tvc.html" class="fadeOutLink"><img src="images/portfolio_depot.jpg"></a></div>

    <div class="teaser_item wow fadeInUp"><a href="work/mercedes-print-ads.html" class="fadeOutLink"><img src="images/portfolio_mercedes.jpg"></a></div>

    <div class="teaser_item wow fadeInUp"><a href="work/national-youth-ballet-poster.html" class="fadeOutLink"><img src="images/portfolio_bjb.jpg"></a></div>
    <div class="teaser_item wow fadeInUp"><a href="work/sixt-poster-ad.html" class="fadeOutLink"><img src="images/portfolio_sixt_mini.jpg"></a></div>
    <div class="teaser_item wow fadeInUp"><img src="images/portfolio_staubsauger.jpg" title="soon"></div>
    <br clear="all">
  </div>
