<div id="body">
<!-- <a id="contact" style="position: absolute; bottom: 0px; left:0;"></a> -->

  <header>
      <a href="#top"><div class="logo animated fadeInUp">Maxwell Stern</a></div>

    <ul class="navi_fade">
      <li class="animated fadeInUp"><a href="#work">Work</a></li>
      <li class="animated fadeInUp"><a href="#about">About</a></li>
      <li class="animated fadeInUp"><a href="#contact">Contact</a></li>
    </ul>
  </header>

  <div class="main">
     <div class="work_link animated fadeInUp">
     	<a class="scroll" href="#work">Work</a>
     </div>

     <div class="about_link animated fadeInUp">
     	<a class="scroll" href="#about">About</a>
     </div>

     <div class="contact_link animated fadeInUp">
     	<a class="scroll" href="#contact">Contact</a>
     </div>
  </div><!--main-->
</div>

  <div class="about animated fadeInUp" id="about">
        <div class="black">
          <p>
            <span class="scarlet">By day I develop, design, and create for the web.</span> I'm well-versed in front-end development, SEO, and analytics. I am also comfortable with back-end coding and basic database management. I strive to continuously learn new techniques and code new ideas into action with a holistic, humanistic approach.
          </p>
          <p>
            By night I screenprint t-shirts for my online etsy shop, <a href="https://www.etsy.com/shop/nimbusprintshop">Nimbus Prints</a>. I am also the Co-founder of <a href="http://www.studiomosaic.org">Studio Mosaic</a> - an independent art collective in Chicago. I enjoy spending free time playing guitar, DJing, reading, writing, and wilderness travel.
          </p>
        </div>
 </div>

 <ul class="grid cs-style-4" id="work">
				<li>
					<figure>
						<div><img src="images/portfolio_bjb.jpg" alt="img04"></div>
						<figcaption>
							<h3>Safari</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1116775-Safari">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/portfolio_bjb.jpg" alt="img06"></div>
						<figcaption>
							<h3>Game Center</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1118904-Game-Center">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/portfolio_bjb.jpg" alt="img02"></div>
						<figcaption>
							<h3>Music</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/portfolio_bjb.jpg" alt="img03"></div>
						<figcaption>
							<h3>Settings</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1116685-Settings">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/portfolio_bjb.jpg" alt="img01"></div>
						<figcaption>
							<h3>Camera</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/portfolio_bjb.jpg" alt="img05"></div>
						<figcaption>
							<h3>Phone</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1117308-Phone">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
