<div id="body">

  <header>
      <a href="#top"><div class="logo animated fadeInUp">Maxwell Stern</a></div>

    <ul class="navi_fade">
      <li class="animated fadeInUp"><a href="#work">Work</a></li>
      <li class="animated fadeInUp"><a href="#about">About</a></li>
      <li class="animated fadeInUp"><a href="/contact">Contact</a></li>
    </ul>
  </header>

  <div class="main">
     <div class="work_link animated fadeInUp">
     	<a class="scroll" href="#work">Work</a>
     </div>

     <div class="about_link animated fadeInUp">
     	<a class="scroll" href="#about">About</a>
     </div>

     <div class="contact_link animated fadeInUp">
     	<a class="scroll" href="/contact">Contact</a>
     </div>
  </div><!--main-->
</div>

  <div class="about" id="about">
        <div class="black">
          <p class="wow bounceInUp">
            <span class="scarlet">By day I develop, design, and create for the web.</span> I'm well-versed in front-end development, interactive design, seo, and analytics. I strive to continuously learn new techniques and code new ideas into action with a holistic, humanistic approach.
          </p>
          <p class="wow bounceInUp">
            By night I run <a href="https://www.etsy.com/shop/nimbusprintshop">Nimbus Prints</a> (I love screenprinting!) and make music for Chicago art collective <a href="http://www.studiomosaic.org">Studio Mosaic</a>. I also enjoy playing guitar, DJing, reading, writing, and wilderness travel.
          </p>

        </div>
  </div>

 <ul class="grid cs-style-4" id="work">
				<li>
					<figure>
						<div><img src="images/beatitudes.png" class="wow bounceInUp" alt="Beatitudes"></div>
						<figcaption>
							<h3>Beatitudes</h3>
							<!-- <span>An App</span> -->
              <p>lorem ipsum ldasdassadlakdjaslkdj</p>
							<a href="http://dribbble.com/shots/1116775-Safari">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/studiomosaic.png" class="wow bounceInUp" alt="Studio Mosaic"></div>
						<figcaption>
							<h3>Studio Mosaic</h3>
							<span>lorem</span>
							<a href="http://dribbble.com/shots/1118904-Game-Center">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/mucharts.png" class="wow bounceInUp" alt="Mu Chart Generator"></div>
						<figcaption>
							<h3>/Mu/sic Chart Generator</h3>
							<span>lorem</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/roygbiv.png" class="wow bounceInUp" alt="ROYGBIV: The Game"></div>
						<figcaption>
							<h3>ROYGBIV: The Game</h3>
							<span>lorem</span>
							<a href="http://dribbble.com/shots/1116685-Settings">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/caspian.png" class="wow bounceInUp" alt="Caspian App"></div>
						<figcaption>
							<h3>Caspian Emergency Management App</h3>
							<span>lorem</span>
							<a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<div><img src="images/bowie.jpg" class="wow bounceInUp" alt="Nimbus Prints"></div>
						<figcaption>
							<h3>Nimbus Prints</h3>
							<span>lorem</span>
							<a href="http://dribbble.com/shots/1117308-Phone">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
