<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js">
    </script>
    <script src="/javascripts/modernizr.min.js"></script>
    <script src="/javascripts/scroll.min.js"></script>
    <script src="/javascripts/touch.min.js"></script>
    <script src="/javascripts/app.min.js"></script>
    <script src="/javascripts/painter.min.js"></script>
    <script src="/javascripts/svgdata.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' />

  </head>
  <body id="top">

    {{{body}}}

    <script>
      new WOW().init();
    </script>

  </body>
</html>
